<nav class="navbar">

  <div class="navbar-section center">
    <!-- centro visivo del sito -->
    <button class="site-title" aria-label="Go to homepage">
      SiwBook
    </button>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <ng-container *ngIf="isLoggedIn; else iconUser">
        <img [src]="profileImageUrl" />
      </ng-container>
      <ng-template #iconUser>
        <fa-icon [icon]="faUser"></fa-icon>
      </ng-template>
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li *ngIf="!isLoggedIn"><button class="dropdown-item" type="button">Login/registrazione</button></li>
      <li *ngIf="isLoggedIn"><button class="dropdown-item" type="button">Profilo</button></li>
      <li *ngIf="isLoggedIn"><button class="dropdown-item" type="button">Logout</button></li>
    </ul>
  </div>

</nav>

<router-outlet></router-outlet>
