<div th:fragment="site-header" xmlns:sec="http://www.w3.org/1999/xhtml">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/fragmentStyles/navBar.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark top-bar">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">SIWBooks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/books">Libri</a></li>
            <li class="nav-item"><a class="nav-link" href="/authors">Autori</a></li>
            <li sec:authorize="hasAuthority('ADMIN')" class="nav-item"><a class="nav-link" href="/admin/book/add">ADD Libro</a></li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item" th:if="${userDetails == null}"><a class="nav-link" href="/login">Login</a></li>

            <li class="nav-item" th:if="${userDetails != null and currentUser != null}"
                th:insert="~{fragments/dropdownProfile :: user-dropdown(user=${currentUser})}">
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>
